Upload Status
<form
    action="https://storage.googleapis.com/cco-final"
    method="post"
    enctype="multipart/form-data">

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    {% for i in labels %}
                        <td>{{ i }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for i in content %}
                    <tr>
                        {% for j in i %}
                            <td>{{ j }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <input type="submit"
            formaction="/job_attribute"
            value="Go to Job Attributes">
    </input>

    <input type="submit"
            formaction="/"
            value="Go back to index">
    </input>

  </form>
